{
  "env": {
    "development": {
      "presets": [["es2015", { "modules": false }]]
    },
    "test": {
      "plugins": ["transform-async-to-generator", "transform-es2015-modules-commonjs"]
    }
  }
}
